/*-----------------------------------*\
#GOOGLE FONTS
\*-----------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Mulish:wght@400;600&display=swap");

/*-----------------------------------*\
#CSS VARIABLES
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --primary-color: hsl(160, 97%, 37%);
  --title-color: hsl(208, 16%, 24%);
  --text-color: hsl(208, 15%, 28%);
  --body-color: #fff;
  --body-color-alt: hsl(160, 16%, 96%);

  /**
   * typography
   */

  --body-font: "Mulish", sans-serif;
  --second-font: "Jost", sans-serif;

  --h1-font-size: 50px;
  --h2-font-size: 40px;
  --h3-font-size: 18px;
  --normal-font-size: 15px;
  --small-font-size: 14px;
}

/*-----------------------------------*\
#RESET
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*-----------------------------------*\
#RESUABLE CSS CLASSES
\*-----------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
  gap: 30px;
}

/**
 * button
 */

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--body-color);
  padding: 15px 20px;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  border-radius: 4px;
}

/*-----------------------------------*\
#HEADER
\*-----------------------------------*/

.header {
  background-color: var(--body-color-alt);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

.nav {
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 44px;
}

.nav_logo-img {
  max-width: 150px;
}

.nav_item {
  display: inline-block;
}

.nav_link {
  color: var(--title-color);
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  margin-right: 30px;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--primary-color);
}

.nav_btns {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav_link i {
  margin-right: 2px;
  position: relative;
  top: 1px;
}

.sign_in,
.nav_close,
.nav_toggle {
  display: none;
}

.nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: none;
}

/**
 * active link
 */

.active-link {
  color: var(--primary-color);
}

/**
 * show overlay
 */

.show-overlay {
  display: block;
}

/**
 * scroll header
 */

 .scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
 }

/*-----------------------------------*\
#HOME
\*-----------------------------------*/

.home {
  background-color: var(--body-color-alt);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.home_title,
.home_description {
  margin-bottom: 24px;
}

.home_title {
  font-size: var(--h1-font-size);
  line-height: 1.2;
}

.home_description {
  font-size: var(--h3-font-size);
  line-height: 1.8;
}

.home_search {
  display: flex;
  position: relative;
}

.search_input {
  background-color: var(--body-color);
  width: 100%;
  padding: 20px 40px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search_icon {
  position: absolute;
  left: 15px;
  top: 36%;
  color: var(--text-color);
  opacity: 0.4;
  font-size: var(--h3-font-size);
}

.search_btn {
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px 25px;
}

.home_info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
  max-width: 470px;
  margin-top: 30px;
}

.info_item {
  width: 33.33%;
  flex: 0 0 33.33%;
}

.info_no {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}

.info_title {
  font-weight: 600;
}

/*-----------------------------------*\
#STATS
\*-----------------------------------*/

.stats {
  margin-top: -50px;
  margin-bottom: 50px;
}

.stats_container {
  grid-template-columns: repeat(3, 1fr);
}

.stats_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: var(--body-color);
  padding: 24px 16px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(62 28 131 / 10%);
}

.stats_icon {
  background-color: hsla(14, 100%, 57%, 0.11);
  border: 1px dashed;
  color: hsl(14, 100%, 57%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.stats_item:nth-child(2) .stats_icon {
  background-color: hsla(262, 55%, 62%, 0.12);
  color: hsl(262, 55%, 62%);
}

.stats_item:nth-child(3) .stats_icon {
  background-color: hsla(88, 61%, 47%, 0.12);
  color: hsl(88, 61%, 47%);
}

.stats_data {
  width: calc(100% - 60px);
}

.stats_title {
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 4px;
}

.stats_description {
  font-size: var(--small-font-size);
  line-height: 1.6;
}

/*-----------------------------------*\
#BREAKPOINTS
\*-----------------------------------*/

/**
 * for large devices
 */

@media screen and (max-width: 1200px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 30px;
    --h3-font-size: 15px;
    --normal-font-size: 14px;
    --small-font-size: 13px;
  }
  .container {
    max-width: 960px;
  }

  .home {
    min-height: initial;
    padding-top: 9.25rem;
    padding-bottom: 7rem;
  }

  .home_title {
    margin-bottom: 20px;
  }

  .search_input {
    padding: 16px 40px;
  }

  .search_btn {
    padding: 16px 25px;
  }
}

@media screen and (max-width: 968px) {
  :root {
    --h1-font-size: 32px;
    --h2-font-size: 26px;
  }

  .container {
    max-width: 720px;
  }

  .header {
    background-color: var(--body-color);
  }

  .nav {
    height: 68px;
  }

  .nav_logo-img {
    max-width: 120px;
  }

  .nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--body-color);
    width: 320px;
    height: 100%;
    padding-top: 60px;
    z-index: 100;
    transition: 0.3s;
  }

  /**
  * show menu
  */

  .show-menu {
    left: 0;
  }

  .nav_item {
    display: block;
    border-top: 1px solid #f0f0f0;
  }

  .nav_item:last-child {
    border-bottom: 1px solid #f0f0f0;
  }

  .nav_link {
    padding: 12px 15px 12px 26px;
  }

  .nav_link,
  .sign_in,
  .nav_close,
  .nav_toggle {
    display: block;
  }

  .get_started,
  .sign_in-desktop {
    display: none;
  }

  .nav_toggle,
  .nav_close {
    font-size: 24px;
    cursor: pointer;
  }

  .nav_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .nav_toggle {
    margin-right: 20px;
  }

  .sign_in {
    padding: 11px 15px;
  }

  .stats_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

}

/**
 * for medium devices
 */

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .home {
    padding-bottom: 5rem;
  }

  .stats_container,
  .home_container {
    grid-template-columns: 1fr;
  }
}

/**
 * for small devices
 */

@media screen and (max-width: 360px) {
  :root {
    --h1-font-size: 30px;
    --h2-font-size: 24px;
  }

  .nav_logo-img {
    max-width: 95px;
  }

  .nav_menu {
    width: 100%;
  }

  .info_item {
    width: 50%;
    flex: 0 0 50%;
  }

}
